/* dark-mode */
.dark-mode {
  --primary-color: #4caf71; /* Green, slightly muted */
  --secondary-color: #1e1e1e; /* Dark grey */
  --text-color: #e0e0e0; /* Light grey text */
  --accent-color: #ffa726; /* Bright orange */
  --background-color: #121212; /* Deep black */
  --user-background-color: #2c2c2c; /* Dark grey */
  --input-bg-color: #2e2e2e; /* Dark grey input */
  --border-color: #444; /* Subtle border */
  --dropdown-bg-color: var(--input-bg-color); /* Dropdown background */
  --dropdown-text-color: var(--text-color); /* Dropdown text */
  --dropdown-border-color: var(--border-color); /* Dropdown border */
  --dropdown-hover-bg: #3a3a3a; /* Hover background */
  --dropdown-arrow-color: #ccc; /* Arrow */


    /* Toastify Colors */
  --toast-success-bg: #4caf71; /* Matches Fresh Green */
  --toast-error-bg: #ff4d4f; /* Matches Error Red */
  --toast-info-bg: #3498db; /* Blue for information */
  --toast-warning-bg: #f39c12; /* Yellow for warnings */

}

.dark-mode .chat-box {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.dark-mode .button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.dark-mode .button:hover {
  background-color: #3b8d59;
}
