/* Specific to the Register page */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* This will ensure the buttons are displayed next to each other */
.buttons-container {
  display: flex;               /* Use flexbox to align buttons horizontally */
  justify-content: center;     /* Align the buttons in the center horizontally */
  align-items: center;         /* (Optional) Vertically align buttons in the middle */
  gap: 10px;                    /* Optional: spacing between the buttons */
  margin-top: 20px;             /* Optional: space above the buttons */
}

.button {
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}



.error-message {
  color: red;
  margin-top: 10px;
}
